<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hasil</title>
</head>
<body>
    <table width="100%" border="1px">
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>NIK</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.BianNama }}</td>
            <td>{{ item.BianNik }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">Belum ada data.</td>
        </tr>
        {% endfor %}
    </table>
    
    <a href="/">Kembali Ke Input</a>
    
</body>
</html>