<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan</title>
</head>
<body>
    <h1>Masukan Data</h1>
    <form method="POST" action="/hasil">
        Nama: <input type="text" name="BianNama" required><br><br>
        NIK: <input type="number" name="BianNik" required><br><br>
        <input type="submit" value="Kirim">
    </form>

    <a href="/hasil">Liat hasil</a>
</body>
</html>